@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

:root {

}

/* * {
  border: 1px dashed red;
} */

body {
  background: rgb(4 12 27 / 0.88);
  background-image: url('../images/patterns/subtle-grunge.png');
  padding: 0 2%;
}

header {
  display:flex;
  flex-direction: column;
  align-items:center;
  position: sticky;
  height: 300px;
}

h1 {
  font-family: 'Xanh Mono', monospace;
  font-size:4rem;
  font-weight: bold;
  letter-spacing: 1rem;
  color:#a99f92;
  text-shadow: 0px 5px 15px #511a00;
  position:fixed;
  margin: 6rem 0;
}

nav {
  width: 60%;
  position: relative;
  top: 230px;
  }

nav ul {
 display:flex;
 justify-content: space-around;
 list-style: none;
 padding: 0;
}

nav li {
  list-style: none;
  font-family: sans-serif;
  font-size:1.25rem;
  letter-spacing:.15rem;
}

a {
  text-decoration: none;
  color: #f0f8ff7a;
  transition: all 200ms;
}

a:hover {
  color: aliceblue;
}

main {
  display:flex;
  justify-content: center;
}

section {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

article {background: rgba(0,0,0,0.4); z-index: 10;}

article.prints {
  padding: 3rem;
  color:aliceblue;
  text-align: center;
  font-family: 'Xanh Mono', monospace;

}

figure {
  background: #000;
  width: 260px;
  margin: 44px;
  display: flex;
  justify-content: center;
  align-content: center;
}

article.cretin img {
  width: 100%;
  filter: saturate(.05);
  border: 4px solid black;
  border-radius: 4px;
  box-shadow: 0 0 0;
  transition: filter 200ms cubic-bezier(0, 0, 0.05, 0.79), transform 200ms cubic-bezier(0, 0, 0.05, 0.79), border 200ms cubic-bezier(0, 0, 0.05, 0.79), border-radius 200ms cubic-bezier(0, 0, 0.05, 0.79), box-shadow 200ms cubic-bezier(0, 0, 0.05, 0.79);
}

article.cretin img:hover {
  filter: saturate(1);
  transform: scale(1.3);
  border: 4px solid black;
  border-radius: 8px;
  box-shadow: 0px 7px 16px 10px rgba(0, 0, 0, .5);
}


figcaption {
  text-align: center;
  font-family: 'Xanh Mono', monospace;
  color: #ddd;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 1.75rem;
  padding: 0 0 1rem 0;
  z-index: 10;
}

footer {
      background: transparent;
      margin: 3rem 0 0 0;
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
      padding:1rem;
}

footer nav {
  top: 0px
}

small {
  display:block;
  font-family:sans-serif;
  color:antiquewhite;
  font-size:.85rem;
  margin: 1rem 0 0 0;
}